In [54]:
from sympy.ntheory.primetest import is_square 
from math import sqrt

import pandas as pd
import time

In [58]:
# non-optimized Python version of script from
# https://math.stackexchange.com/questions/3278660/solutions-to-a-system-of-three-equations-with-pythagorean-triples

start = time.time()

limit=10000
A=[None]*limit
B=[None]*limit
triples=[[0 for c in range(6)] for r in range(limit)]
rows=0
for w in range(1,limit+1):
    count=0
    for a in range (1,w+1):
        if is_square(w*w-a*a):
            count+=1
            A[count]=a
            B[count]=int(sqrt(w*w-a*a))
    if count>1:
        for i in range(1,count+1):
            for j in range(1,count+1):
                if i!=j:
                    x=A[i]
                    t=B[i]
                    s=A[j]
                    z=B[j]
                    if is_square(z*z-x*x):
                        y=sqrt(z*z-x*x)
                        if y>0:
                            triples[rows]=[x, y, z, s, t, w]
                            rows+=1

end = time.time()
print("Time elapsed: {0}".format(end - start))

df = pd.DataFrame(triples, columns = ['x', 'y', 'z', 's', 't', 'w'])

Time elapsed: 53.93868637084961

In [59]:
print(df.shape)
df.to_csv('c:/temp/pythagorean_' + str(limit) + '.csv', index=False)

(10000, 6)

In [2]:
df = pd.read_csv('c:/temp/pythagorean_100000.csv')
df.head()

     x    y     z
0  153  185   697
1  672  680   697
2  520  533   925
3  756  765   925
4  448  952  1073

In [7]:
def validateW4Triple(w:int, triple:tuple[int, int, int]) -> bool:
    for i in triple:
        if not is_square(i*i-w*w):
            return False
    return True

In [27]:
for index, row in df.iterrows():
    x = row['x']
    y = row['y']
    z = row['z']
    for w in range(1, x):
        #print("validating {0} against {1}".format(w, [x,y,z]))
        if validateW4Triple(w, [x,y,z]):
            print([w,x,y,z])

In [20]:
df.groupby(['y', 'z']).size().sort_values(ascending=False) 
#print(df['x'].value_counts())
#print(df['y'].value_counts())
#print(df['z'].value_counts())

y      z
59150  90610    3
13875  52275    3
9250   34850    3
23125  87125    3
29575  45305    3
               ..
23310  87822    1
23250  23790    1
23230  23426    1
23205  35547    1
99220  99671    1
Length: 2037, dtype: int64

In [ ]:
quad=[7800,8584,9605,9997]

w=quad[0]
x=quad[1]
y=quad[2]
z=quad[3]

def validateQuadruple(w:int, x:int, y, z:int) -> bool:
    d1=z*z-y*y
    d2=z*z-x*x
    d3=z*z-w*w
    d4=y*y-x*x
    d5=y*y-w*w
    d6=x*x-w*w
    print([sqrt(d1),sqrt(d2),sqrt(d3),sqrt(d4),sqrt(d5),sqrt(d6)])
    if is_square(d1) and is_square(d2) and is_square(d3) and is_square(d4) and is_square(d5) and is_square(d6):
        return True
    return False

validateQuadruple(w,x,y,z)
f=1 #73*1553*73*1553*73*1553
validateQuadruple(w*f,x*f,y*f,z*f)

#unfortunatelly 1020321=3*3*73*1553 is not a square
#for f in range(2,1000000):
#    validateQuadruple(w*f,x*f,y*f,z*f)